<component name="ArtifactManager">
  <artifact type="war" name="spring_Xiang_Ying:war">
    <output-path>$PROJECT_DIR$/java_demo/java_springmvc/spring_Xiang_Ying/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_Xiang_Ying</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_Xiang_Ying.war">
      <element id="artifact" artifact-name="spring_Xiang_Ying:war exploded" />
    </root>
  </artifact>
</component>