<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--注册dao-->
    <bean id="accountDao" class="com.itheima.dao.impl.AccountDaoImpl"></bean>
    <!--注册service-->
    <bean id="accountService" class="com.itheima.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"/>
    </bean>
    <!--注册通知所在的类-->
    <bean id="myAscept" class="com.itheima.utils.MyAscept"/>
    <!--开启AOP注解-->
    <aop:aspectj-autoproxy/>
</beans>